@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Wedstrijd overzicht</h1>
</div>

<button id="create-match" onclick="createMatch()" class="btn btn-lg btn-primary create-match">Wedstrijd aanmaken</button>

<match-component></match-component>

<!--Template-->
<template id="match-component-tpl">
    <style>
        .match {
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin: auto;
            margin-top: 25px;
            width: 35%;
            height: 75px;
            background-color: grey;
            border-radius: 20px;
        }

        #score {
            display: flex;
            font-size: 20px;
            font-weight: bold;
        }

        button {
            visibility: visible;
            display: flex;
            width: 25px;
            height: 25px;
            align-items: center;
            justify-content: center;
        }
    </style>
    
    <div id="match1" class="match">
        <p id="name_t1">team 1</p>
        <button id="button_t1" onclick="addScore(this.nextElementSibling, '1')">+</button>
        <p id="score">4 - 2</p>
        <button id="button_t2" onclick="addScore(this.previousElementSibling, '2')">+</button>
        <p id="name_t2">team 2</p>
    </div>
</template>

<script>
    class match_component extends HTMLElement {
        constructor() {
            super();
            let template = document.getElementById("match-component-tpl");
            let templateContent = template.content;

            const shadowRoot = this.attachShadow({ mode: "open" });
            shadowRoot.appendChild(templateContent.cloneNode(true));
        }
    }
    customElements.define("match-component", match_component);

    function createMatch() {
        console.log("clicked");
    }

    function addScore(score, team){
        let scoreContent = score.textContent;       
        let scores = scoreContent.split(" ");

        let score_t1 = scores[0];
        let score_t2 = scores[2];

        team == 1 ? score_t1++ : score_t2++;
        let newScore = score_t1 + " - " + score_t2;
        score.textContent = newScore;
    }
</script>